*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
ul{
    list-style: none;
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Jost', sans-serif;
}
a{
    text-decoration: none;
}
/* navigation */

.navigation{
    background-color: rgba(40, 58, 90, 0.9);;
}
.navbar-collapse {
    flex-grow: 0;
    align-items: center;
}
.about{
    color: #47b2e4 !important;
}
.navbar-li a:hover{
    color: #47b2e4 !important;
}
.menu li{
    padding: 10px 0 10px 30px;
}
.menu li a{
    font-size: 15px;
    font-weight: 500;
    padding: 7px 4px !important;
}
.start-btn{
    font-size: 14px;
    border-color: #47b2e4 !important;
    padding: 8px 20px;
}
.start-btn:hover{
    background-color: #47b2e4 !important;
}
.toggle-button span{
    color: #fff !important;
}
.menu-button{
    border: none !important;
}


/* home page */

.home-page{
    padding-top: 73px;
}
.main{
    background-color: #37517e;
}
.home-content h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 10px;
}
.home-content h2{
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 50px;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.2;
}
.start-btn2{
    font-size: 16px;
    background-color: #47b2e4;
    padding: 8px 28px;
}
.start-btn2:hover{
    background-color: #209dd8 !important;
}
.play-button{
    font-size: 16px;
}
.play-button i{
    font-size: 32px;
} 
.play-button:hover i{
    color: #47b2e4;
    transition: 0.5s;
}


/* clients */

.clients{
    padding: 12px 0;
    background-color: #f3f5fa;
}
.client-box{
    padding: 15px 0;
}
.client-box img{
    max-width: 45%;
    filter: grayscale(100);
    transition: all 0.4s ease-in-out;
}
.client-box img:hover{
    filter: none;
    transform: scale(1.1);
}

/* about-us */
.about-us{
    padding: 60px 0;
}
.about-heading{
    padding-bottom: 30px;
}
.about-heading h1{
    font-size: 32px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    color: #37517e;
    text-transform: uppercase;
}
.about-heading h1::after{
    content: "";
    position: absolute;
    display: block;
    width: 40px;
    height: 3px;
    background: #47b2e4;
    bottom: 0;
    left: calc(50% - 20px);
}
.about-heading h1::before{
    content: "";
    position: absolute;
    display: block;
    width: 120px;
    height: 1px;
    background: #ddd;
    bottom: 1px;
    left: calc(50% - 60px);
}
.about-list li {
    margin-top: 10px;
}
.about-list li i{
    color: #47b2e4;
    font-size: 20px;
}
.learn-more{
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 12px 32px;
    border-radius: 4px;
    transition: 0.3s;
    line-height: 1;
    color: #47b2e4;
    animation-delay: 0.8s;
    margin-top: 6px;
    border: 2px solid #47b2e4;
}
.learn-more:hover{
    background: #47b2e4;
    color: #fff;
}
.owl-stage-outer{
    padding: 30px 0;
}

/* architect */
.architect{
    background-color: #f3f5fa;
    padding: 60px 0;
}
.content-box{
    padding: 0 12px;
}
.inner-content{
    padding: 60px 100px 0 100px;
}
.inner-content h3{
    font-weight: 400;
    font-size: 34px;
    color: #37517e;
}
.inner-content strong{
    font-size: 34px;
    color: #37517e;
    font-family: 'Jost', sans-serif;
}
.inner-content .sub-content{
    font-size: 15px;
    color: #848484;
}
.collapse-cus{
    font-family: 'Poppins', sans-serif;
    color: #343a40;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.collapse-cus span{
    font-family: 'Poppins', sans-serif;
    color: #47b2e4;
    font-size: 18px;
    padding-right: 10px;
}
.collapse-cus:hover{
    color: #47b2e4;
}
.collapse-cus:hover .accordion-button::after{
    color: #47b2e4 !important;
}
.accordion-button::after{
    display: none;
}
.accordion-button:focus{
    box-shadow: none;
}
.accordion-button:focus span{
    color: #47b2e4;
}
.accordion-button{
    background-color: #fff !important;
}
.architect-img{
    background-image: url(../images/why-us.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
}

/* skills */
.skills{
    padding: 60px 0;
}
.skill-img{
    width: 100%;
}
.skill-content h3{
    font-weight: 700;
    font-size: 32px;
    color: #37517e;
    font-family: "Poppins", sans-serif;
    line-height: 1.2;
}
.skill-content p{
    color: #444444;
}
.skill-name{
    font-size: 12px;
    margin: 0 0 6px 0;
    text-transform: uppercase;
    display: block;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #37517e;
}
.progress{
    /* background: #37517e !important; */
    border-radius: 0 !important;
    height: 10px !important;
}
.color
{
    background-color:#37517e;
}
.progress-stacked{
    background-color: #37517e !important;
}


/* services */
.services{
    padding: 60px 0;
    background-color: #f3f5fa;
}
.service-card{
    padding: 50px 30px;
    box-shadow: 0px 0 25px 0 rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.4s;
}
.service-card:hover{
    transform: translateY(-10px);
}
.service-card:hover a{
    color: #47b2e4;
}
.icon{
    margin-bottom: 10px;
}
.icon i{
    color: #47b2e4;
    font-size: 36px;
}
.service-card h4 a{
    font-family: "Jost", sans-serif;
    color: #37517e;
    transition: ease-in-out 0.3s;
    font-weight: 500;
    font-size: 24px;
}
.service-card p{
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}

/* call to action */
.action{
    padding: 120px 0;
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)), url(../images/cta-bg.jpg) fixed center center;
    background-size: cover;
}
.action h3{
    color: #fff;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
}
.action p{
    color: #fff;
}
.call-to-action{
    font-family: "Jost", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 12px 40px;
    transition: 0.5s;
    margin: 10px;
    border: 2px solid #fff;
    color: #fff;
}
.call-to-action:hover{
    background: #47b2e4;
    border: 2px solid #47b2e4;
}

/* portfolio */
.portfolio{
    padding: 60px 0;
}
.portfolio-btn-main{
    margin-bottom: 20px
}
.portfolio-btn{
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}
.portfolio-btn1{
    background: #47b2e4 !important;
    color: #fff !important;
}
.portfolio-btn:hover{
    background: #47b2e4;
    color: #fff !important;
}
.portfolio-img{
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
}
.portfolio-img img{
    width: 100%;
    transition: all 0.6s;
}
.portfolio-img:hover img{
    transform: scale(1.15);
}
.portfolio-info{
    position: absolute;
    left: 3px;
    bottom: 0;
    right: 3px;
    padding: 10px 15px;
    transition: all 0.3s;
    background: rgba(55, 81, 126, 0.8);
    opacity: 0;
}
.portfolio-img:hover .portfolio-info{
    opacity: 1;
}
.portfolio-info h4{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0 !important;
}
.portfolio-info p{
    color: #f9fcfe;
    font-size: 14px;
    margin-bottom: 0;
}
.portfolio-info1 a{
    font-size: 18px;
    color: #fff;
    transition: 0.3s;
}
.portfolio-info1 a:hover{
    color: #47b2e4;
}

/* team */
.team{
    padding: 60px 0;
    background-color: #f3f5fa;
}
.team-member{
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    padding: 30px;
    border-radius: 5px;
    background: #fff;
    transition: 0.5s;
    /* height: 100%; */
}
.team-member:hover{
    transform: translateY(-10px);
}
.member-pic{
    width: 180px;
    border-radius: 50%;
    overflow: hidden;
    height: fit-content;
}
.member-info{
    padding-left: 30px;
}

.member-info h4{
    font-weight: 700;
    margin-bottom: 5px;
    font-size: 20px;
    color: #37517e;
}
.member-info span{
    display: block;
    font-size: 15px;
    padding-bottom: 10px;
    position: relative;
    font-weight: 500;
    color: #444444;
}
.member-info span::after{
    content: "";
    position: absolute;
    display: block;
    width: 50px;
    height: 1.5px;
    background: #cbd6e9;
    bottom: 0;
    left: 0;
}
.member-info p{
    margin: 10px 0 0 0;
    font-size: 14px;
    color: #444444;
}
.socials{
    margin-top: 12px;
}
.socials a{
    transition: ease-in-out 0.3s;
    border-radius: 50px;
    width: 32px;
    height: 32px;
    background: #eff2f8;
}
.socials a:hover{
    background: #47b2e4;
}
.socials i{
    color: #37517e;
    font-size: 16px;
    margin: 0 2px;
}
.socials a:hover i{
    color: #fff;
}

/* pricing */
.pricing{
    padding: 60px 0;
}
.pricing .row{
    padding-top: 40px;
}
.plan{
    padding: 60px 40px;
    box-shadow: 0 3px 20px -2px rgba(20, 45, 100, 0.1);
    background: #fff;
    border-top: 4px solid #fff;
    border-radius: 5px;
}
.plan2{
    border-top-color: #47b2e4;
}
.plan h3{
    font-weight: 500;
    margin-bottom: 15px;
    font-size: 20px;
    color: #37517e;
}
.plan h4{
    font-size: 48px;
    color: #37517e;
    font-weight: 400;
    font-family: "Jost", sans-serif;
    margin-bottom: 25px;
}
.pricing .plan h4 sup{
    font-size: 28px;
}
.pricing .plan h4 span{
    color: #47b2e4;
    font-size: 18px;
    display: block;
}
.plan ul{
    padding: 20px 0;
    list-style: none;
    color: #999;
    text-align: left;
    line-height: 20px;
}
.plan ul li{
    padding: 10px 0 10px 0;
}
.plan ul li i{
    color: #28a745;
    font-size: 18px;
}
.list span{
    text-decoration: line-through;
}
.cross{
    color: #ccc !important;
}
.plan button{
    padding: 12px 35px;
    border-radius: 50px;
    color: #47b2e4;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    background-color:transparent ;
}
.plan button:hover{
    background: #47b2e4;
    color: #fff;
}
.plan-btn2{
    background: #47b2e4 !important;
    color: #fff !important;
}
.plan-btn2:hover{
    background-color: #23a3df !important;
}

/* questions */
.questions{
    background-color: #f3f5fa;
    padding: 60px 0;
}
.que-list{
    padding: 0 100px;
}
.que-main{
    font-family: "Poppins", sans-serif;
    color: #37517e;
    transition: 0.3s;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    outline: none;
    cursor: pointer;
    width: 100%;
}
.que-main:hover{
    color: #47b2e4;
}
.que-mark{
    color: #47b2e4;
    font-size: 24px;
}

/* contact */
.contact{
    padding: 60px 0;
}
.location{
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    width: 100%;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.1);
}
.address{
    margin-bottom: 20px;
}
.address span{
    font-size: 20px;
    color: #47b2e4;
    width: 44px !important;
    height: 44px;
    background: #e7f5fb;
    border-radius: 50px;
    transition: all 0.3s ease-in-out;
}
.address-info h4{
    padding: 0 0 0 15px;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 5px;
    color: #37517e;
}
.address-info p{
    padding: 0 0 10px 15px;
    margin-bottom: 0;
    font-size: 14px;
    color: #6182ba;
}
.address:hover span{
    background: #47b2e4;
    color: #fff;
}
.map-img a img{
    height: 290px;
    object-fit: cover;
    width: 100%;
}
.form{
    height: 100%;
    width: 100%;
    border-top: 3px solid #47b2e4;
    border-bottom: 3px solid #47b2e4;
    padding: 30px;
    background: #fff;
    box-shadow: 0 0 24px 0 rgba(0, 0, 0, 0.12);
}
.form-group{
    margin-bottom: 20px;
    padding-bottom: 8px;
}
.form-group label{
    display: block;
}
.form-group input{
    
    height: 44px;
}
.form-group .form-control{
    box-shadow: none;
    font-size: 14px;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border:1px solid #dee2e6 !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-group input:focus-visible{
    outline: none;
}
.form-group input:focus{
    border-color: #47b2e4 !important;
}
.form-group textarea{
    padding: 10px 12px !important;
}
.send-msg button{
    padding: 12px 35px;
    border-radius: 50px;
    transition: none;
    font-size: 16px;
    font-weight: 500;
    font-family: "Jost", sans-serif;
    transition: 0.3s;
    border: 1px solid #47b2e4;
    background: #47b2e4;
    color: #fff;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.send-msg button:hover{
    background: #209dd8;
}

/* news-letter */
.news-letter{
    padding: 50px 0;
    background: #f3f5fa;
    text-align: center;
    font-size: 15px;
    color: #444444;
}
.news-letter h4{
        font-size: 24px;
    margin: 0 0 20px 0;
    padding: 0;
    line-height: 1;
    font-weight: 600;
    color: #37517e;
}
.news-letter form{
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.06);
    text-align: left;
}
.news-letter #email{
    border: 0;
    padding: 4px 8px;
    width: 80%;
}
.news-letter #submit{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #47b2e4;
    color: #fff;
    transition: 0.3s;
    border-radius: 50px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}

/* footer */
/* footer-top */
.footer-top{
    padding: 60px 0 30px 0;
}
.footer-contact p{
    font-family: "Jost", sans-serif;
    color: #5e5e5e;
    font-size: 14px;
    margin-bottom: 4px;
}
.footer-top h3{
    font-size: 28px;
    margin: 0 0 10px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    color: #37517e;
}
.footer-top h4{
    font-size: 16px;
    font-weight: bold;
    color: #37517e;
    position: relative;
    padding-bottom: 12px;
}
.footer-link ul{
    padding: 0;
    margin: 0;
}
.footer-link li{
    padding: 10px 0;
}
.footer-link li i{
    padding-right: 8px;
    color: #47b2e4;
    font-size: 14px;
    line-height: 1;
}
.footer-link li a{
    color: #777777;
    transition: 0.3s;
    display: inline-block;
    line-height: 1;
    font-size: 14px;
}
.footer-link li a:hover{
    color: #47b2e4;
}
.footer-link p{
    font-size: 14px;
}
.footer-social a{
    font-size: 18px;
    display: inline-block;
    background: #47b2e4;
    color: #fff;
    line-height: 1;
    padding: 9px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 35px;
    height: 36px;
    transition: 0.3s;
}
.footer-social a:hover{
    background: #209dd8;
}

/* footer-bottom */
.footer-bottom{
    padding: 30px 0;
    background-color: #37517e;
    color: #fff;
    font-size: 14px;
}
.credits{
    text-align: end;
}
.credits a{
    color: #47b2e4;
    transition: 0.3s;
}
.credits a:hover{
    color: #73c5eb;
}






@media (max-width: 1200px) {
    .que-list{
        padding: 0 ;
    }
    
}
@media (max-width: 1024px) {
    .inner-content{
        padding: 0;
    }
    .action{
        background-attachment: scroll;
    }
    
}
@media (max-width: 992px) {
    .home-img img{
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .home-content h1{
        text-align: center;
        font-size: 28px;
        line-height: 36px;
    }
    .home-content h2{
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        text-align: center;
    }
    .content-box1{
        margin-top: 20px;
    }
    .architect-img{
        min-height: 400px;
    }
    .plan{
        max-width: 60%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    .footer-link2{
        margin-top: 30px;
    }
}
@media (max-width:767px) {
    .plan{
        max-width: 80%;
    }
    .footer-contact{
        margin-bottom: 30px;
    }
    .copyright{
        text-align: center !important;
    }
    .credits{
        text-align:center !important;
        padding-top: 4px;
    }
    
}
@media (max-width: 575px) {
    .architect-img{
        min-height: 200px;
    }
}